/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@keyframes hover {
  from {transform: scale(1);}
  to {transform: scale(1.03);}
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --primary: rgb(61, 177, 255);
}

body {
  height: 100vh;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 10px;
  background-color: var(--primary);
  border: none;
  color: white;
  font-weight: bold;
  box-shadow: 3px 3px rgb(155, 155, 155);
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  animation: hover 0.1s forwards;
  filter: brightness(95%);
}

input {
  border-radius: 5px;
  box-shadow: 1px 1px rgba(155, 155, 155, 0.37);
  border: 1px solid black;
  padding: 5px 0px;
  vertical-align: middle;
}

.input-wrapper label {
  margin-right: 8px;
}

nav {
  background-image: linear-gradient(90deg,var(--primary), rgb(110, 190, 255));
  padding-left: 20px;
  min-height: 7vh;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 600;
  text-shadow: 5px 5px rgb(74, 137, 255);
}

#content {
  height: 93vh;
  padding: 20px 0px 20px;
}

#home,
#project,
#todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.project-list,
.todo-list,
.todo-form {
  width: max(350px, 70vw);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px 30px 10px;
}

.project-list li,
.todo-list li {
  display: flex;
  height: 6rem;
  margin-bottom: 30px;
}

.project-list-item,
.todo-list-item {
  flex: auto;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 20px;
  border: 2px solid var(--primary);
  box-shadow: 4px 4px rgba(143, 143, 143, 0.589);
  font-weight: 500;
  background-color: transparent;
  color: black;
}

.project-list-item:hover,
.todo-list-item:hover {
  animation-name: hover;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.project-list-item-name,
.todo-list-item-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: max(200px, 40vw);
}

.delete {
  background-color: transparent;
  margin-left: 30px;
  flex-shrink: 0;
}

.delete svg {
  height: 3rem;
  fill: red;
}

.project-list-todo-count {
  font-style: italic;
  color: var(--primary);
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid var(--primary);
}

.project-form,
.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-weight: 500;
  }

  *:nth-child(odd){
    margin-bottom: 20px;
  }
}

#todo .todo-form {
  *:nth-child(odd){
    margin-bottom: 0px;
  }

  *:nth-child(even){
    margin-bottom: 20px;
  }
}

.close-dialog {
  align-self: end;
  padding: 5px 13px;
  margin-bottom: 30px;
}

#project-name,
#todo-title {
  text-align: center;
}

.save-todo {
  background-color: rgb(0, 255, 0);
}

#todo-title,
#todo-desc {
  width: 75%;
  max-width: 75%;
}
